html{
	height: 100%;
	font-size: 62.5%;
}

body{
	min-height: 100%;
	font-size: 1.4rem;
	background-color:#edeff0;
}

a:hover{
	cursor: pointer;
	text-decoration: none;
}

.button{
	font-family: inherit;
	-webkit-transition-property: background;
	  -moz-transition-property: background;
	  -o-transition-property: background;
	  transition-property: background;
	  -webkit-transition-duration: 0.3s;
	  -moz-transition-duration: 0.3s;
	  -o-transition-duration: 0.3s;
	  transition-duration: 0.3s;
}

.container-fluid.mainCon{
	padding:2%;
	padding-top: 1%;
	overflow: hidden;
	position: relative;
}

#siteLogo a{
	padding:0;
}

#siteLogo img{
	height: 60px;
}

.navbar.navbar-default.nav-custom{
	background-color: #656464;
	border-radius: 0px;
	border:none;
	height: 80px;
	overflow: hidden;
	z-index: 1000;
	margin-bottom: 0px;
}

.navbar.navbar-default.nav-custom .container-fluid{
	height: 100%;
}

.navbar.navbar-default.nav-custom .container-fluid .navbar-header{
	height: 100%;
}

.navbar.navbar-default.nav-custom .container-fluid .collapse.navbar-collapse{
	height: 100%;
}

.navbar.navbar-default.nav-custom .navbar-nav.left>li.active{
	border-top:5px solid #de2e39;
	padding-top: 10px;
}

.navbar.navbar-default.nav-custom .navbar-nav.left>li>a{
	background-color: transparent;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;

}

.navbar.navbar-default.nav-custom .navbar-nav.left a:hover{
	
}



.navbar.navbar-default.nav-custom a{
	color:#ffffff;
	font-size: 2.5rem;

}

.navbar.navbar-default.nav-custom .navbar-nav.left li{
	margin-left: 0px;
	margin-right: 0px;
	padding: 15px;
}

.navbar.navbar-default.nav-custom .nav.navbar-nav.navbar-right{
	margin-top: 10px;
}


.navbar.navbar-default.nav-custom .navbar-nav .searchConLi{
	position: absolute;
	right:64px;
}

.navbar.navbar-default.nav-custom .navbar-nav .searchLi{
	position: absolute;
	right:85px;
	z-index: 1;
	width: 48px;
	height:48px;
}

.navbar.navbar-default.nav-custom .navbar-nav .headPicLi{
	position: absolute;
	right:25px;
	z-index: 1;
	width: 48px;
	height:48px;
	margin-top: -10px;
}



.navbar.navbar-default.nav-custom .navbar-nav .headPic img{
	width: 48px;
}

.navbar.navbar-default.nav-custom .search{
	font-size: 3.2rem;
	margin-top: 10%;
	border-radius: 50%;
	background-color: #ffffff;
	color:#656464;
	width: 100%;
	height: 100%;
	text-align: center;
}



#searchCon{
	font-size: 2rem;
	background-color: #edeff0;
	border:none;
	color:#a1a0a0;
	margin-top: 5%;
	margin-right: -10px;
	width: 200px;
	opacity: 0;
	display: none;
	height: 35px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	padding-left: 10px;

}


.footer{
	background: #656464;
	width:100%;
	color:#c9c2b2;
	padding:5%;
	text-align: center;
	z-index: 1000;
	position: relative;
}

.footer a{
	color:#ffffff;
}

.footer a:hover{
	text-decoration: none;

}

.hide{
	display: none;
}

.nav.navbar-nav.navbar-right.settings{
	margin-top: 4%;
	margin-left: -25px;
	padding-left: 15px;
	padding-top: 3px;
	opacity:0;
	display: none;
	min-width: 260;
	height: 35px;
	z-index: -1;
	overflow: hidden;
	background-color: #edeff0;
	border-top-right-radius: 20px;
	border-bottom-right-radius:20px;
}

.nav.navbar-nav.navbar-right.settings a{
	font-size: 1.5rem;
	padding:5px;
	color:#656464;
}



::-webkit-input-placeholder { /* WebKit browsers */
    color:    #6c757a;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #6c757a;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #6c757a;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #6c757a;
}

.rlBar{
	background-color: #ffffff;
}

.rlBar.leftBar{
	margin-left: 30px;
	padding-left: 0;
	padding-right:0;
	padding-bottom: 30px;
	position: relative;
	box-shadow: 2px 2px 2px #ccc;
	height: 630px;
}



.rlBar.leftBar ul{
	list-style: none;
	padding: 0;
}

.rlBar .barItem{
	padding:10px;
	text-align: left;
	padding-left: 15%;
	margin-top: 35px;
	height: 50px;

}

.rlBar .barItem a{
	color:#656464;
	font-size:2.2rem;
}

.rlBar .barItem a:hover{
	cursor: pointer;
	text-decoration: none;
	font-size: 2.5rem;
}

.rlBar .barItem.active{
	background-color:#de2e39;
}

.rlBar .barItem.active a{
	color:#ffffff;
}

.imgWrap{
	position: absolute;
	height: 60px;
}

.leftWrap{
	left: 34px;
}

.rightWrap{
}

.conPanel{
	background-color: #ffffff;
	height: 630px;
	box-shadow: 2px 2px 2px #ccc;

}

.conPanelNav{
	width:100%;
	padding-top: 30px;
	height: 100px;
	border-bottom: 1px dashed white;
}

.conPanelNav ul{
	padding:0;
}

.conPanelNav ul li{
	list-style: none;
	float:left;
	text-align:center;
	margin:0;
	padding: 0;
}

.conPanelNav ul li a{
	font-size: 2.5rem;
	color:#374550;
	padding: 25px 20%;
}

.conPanelNav ul li a:hover{
	background-color: #374550;
	cursor:pointer;
	color:#c9c2b2;
	text-decoration: none;
}

.conPanelNav ul li a.active{
	background-color: #374550;
	color:#c9c2b2;
}

.conPanelCon{
	width: 100%;
	padding-top: 1%;
	float:left;
}





.conPanelCon.course p{
	text-align: center;
}


.conPanelCon.course .courseImg{
	margin-top: 10%;
}

.conPanelCon.course .courseImg:hover{
	cursor: pointer;
}

.conPanelCon.course .courseImg img{
	width: 80%;
}



.conPanelCon.course .courseName{
	font-size: 2rem;
	font-weight: 700;
	margin-top: 5%;
}

.conPanelCon.course .courseGoOn a{
	margin-top:2%;
}

.conPanelCon.course .courseGoOn a:hover{
	text-decoration: none;
	color:white;
	cursor: pointer;
}

.conPanelCon.course .courseGoOn a.button.button-flat-highlight{
	border-radius:5px;
	background: #bf5d44;
	color:#e0d9c8;
	transition-property: background;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.conPanelCon.course .courseGoOn a.button.button-flat-highlight:hover{
	background:  #e2765a;
	
}

#addCourse{
	width: 4rem;
	height:4rem;
	background: rgba(255, 255, 255, 0.73);
	color:#ccc;
	text-align: center;
	font-size: 3.2rem;
	border-radius: 50%;
	position: absolute;
	right: 10px;
	border-bottom: 3px solid rgb(124,124,124);
	border-right: 3px solid rgb(124,124,124);
	transition-property: background;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

#addCourse:hover{
	cursor: pointer;
	background:  rgba(255, 255, 255, 1);
}

#addCourse:active{
	border: 2px solid #c9c2b2;

}

.conPanelCon ul{
	width: 95%;
	list-style: none;
}

.conPanelCon ul li{
	width: 95%;
	padding:1%;
	position: relative;
	background-color: antiquewhite;
	border: 1px solid rgb(151, 151, 151);
	border-radius:10px;
	box-shadow: 2px 2px 0px #8A8A8A;
	transition-property: width;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;


}

.conPanelCon ul>li:hover{
	width:100%;
	cursor:pointer;
	
}

.conPanelCon ul>li>span{
	float:left;
}

.pin{
	position: absolute;
	width: 2rem;
	height: 2rem;
	top: 3px;
	left: 3px;
	border-radius: 50%;
	background: #c9c2b2;
	border: 1px solid rgb(151, 151, 151);
	
}

.conPanelCon .itemList>li {
	margin-top: 2%;
}




.conPanelCon .itemList>li>span:nth-child(2n+1){
	width:25%;
}

.conPanelCon .itemList>li>span:nth-child(2n){
	width:50%;
}
.conPanelCon .itemList>li>span:nth-child(1){
	text-align: center;
}

.conPanelCon .itemList>li>span:nth-child(3){
	position: absolute;
	bottom: 10px;
	text-align: center;
	font-size: 2rem;	
}

.conPanelCon .itemList>li .tips{
	font-size: 1.8rem;
	color:#bf5d44;
	font-weight: 200;
}

.conPanelCon .miniList>li{
	margin-bottom: 5px;
}




.conPanelCon .miniList>li>span:nth-child(1) {
	width:50%;
}

.conPanelCon .miniList>li>span:nth-child(2) {
	width:20%;
}

.conPanelCon .miniList>li>span:nth-child(3) {
	width:15%;
}

.conPanelCon .miniList>li>span:nth-child(4) {
	width: 15%;
}

.conPanelCon .orderList>li:nth-child(1){
	background-color: rgb(146, 48, 64);
	color:white;
}

.conPanelCon .orderList>li:nth-child(1):hover{
	width: 95%;
	cursor:default;
}

.conPanelCon .orderList>li #orderName{
	font-size: 2.5rem;
	font-weight: 500;
}

.conPanelCon .testList>li{
	height: 100px;
}

.conPanelCon .testList>li #testName{
	font-size: 2.5rem;
	font-weight: 500;
}

.conPanelCon .testList>li #testDo a{
	border-radius: 5px;
}

.conPanelCon .topicList>li{
	margin-top: 1%;
}

.conPanelCon .topicList>li .topicStatus{
	float:right;
	margin-left: 10px;
}

.conPanelFooter{
	position: absolute;
	height: 50px;
	width: 98%;
	left: 1%;
	right: 1%;
	bottom: 0px;
	border-top:1px dashed white;
}

.conPanelFooter a{
	position: absolute;
	font-size: 3rem;
	color: #bf5d44;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.conPanelFooter a:hover{
	cursor: pointer;
	color:#e2765a;
}

#lastPage{
	left: 0px;
}

#nextPage{
	right:0px;
}



/**************************************以下是课程播放页面设置************************************************/
.rlBar.rightBar{
	position: absolute;
	height: 110%;
	width:4%;
	right: 0px;
	top:0px;
	bottom:0px;
	border-left:1px solid #ccc;
 }

.rlBar.rightBar ul{
	list-style: none;
	padding:0;
	margin-top:-10px; 
	
}

.rlBar.rightBar .barItem{
	text-align: center;
}

.rlBar.rightBar .barItem > a{
	font-size: 1.6rem;
}

.rlBar.rightBar #hideRightBar{
	margin-top: 200px;
	color: #ccc;
	font-size: 2.5rem;
}

.rlBar.rightBar #hideRightBar:hover{
	cursor:pointer;
}

.conPanel.coursePanel{
	margin-left: 5%;
	padding:1%;
	overflow: hidden;
	z-index: 2001;
	position:relative;
}

.container-fluid.mainCon.courseCon{
	padding-top: 0%;
}

.breadcrumb.courseBC{
	background:none;
	margin-left: 5%;
	margin-bottom: 0px;
	padding-left: 0px;
}

.breadcrumb.courseBC > li{
	font-size: 2rem;
}

.breadcrumb.courseBC > li + li:before{
	content:'>';
}

.breadcrumb.courseBC > li a{
	color:#777;
	cursor: pointer;
	text-decoration: none;
}

.imgWrap.rbWrap{
	height:55px;
	left:-6px;
}

#showRightBar{
	font-size: 3rem;
	width: 50px;
	height: 50px;
	text-align: center;
	position: absolute;
	right: 0px;
	top: 300px;
	color: #ccc;
	display: none;
	z-index:2001;
}

#showRightBar:hover{
	cursor:pointer;
}

.shadeForHighlight{
	background-color: rgba(0, 0, 0, 0.88);
	z-index: 2000;
	position: absolute;
	width: 100%;
	display: none;
}

/***********************************Workstation********************************************/
.leftControls{
	position: fixed;
	left: 0px;
	top:0px;
	width:8%;
}

.leftControls ul{
	list-style: none;
	width: 100%;
	top: 150px;
	padding: 1%;
	position: absolute;
	z-index: 5000;
}

/*.leftControls ul > li {
	margin-bottom: 20px;
	width:80%;
}*/

.leftControls ul > li{
	display: block;
	max-height: 5em;
	padding:1em;
	border: 1px solid rgba(197, 197, 197, 1);
	box-shadow: 2px 2px 2px rgba(192, 190, 190, 1);
	text-align: center;
	margin-bottom: 50px;
	color:#b01e00;
	width: 90%;
	margin-left: 5%;
	overflow: hidden;
	
}
.leftControls ul > li >a{
	display: block;
	width: 100%;
	font-size: 3em;
	color:inherit;
}

.leftControls ul > li >a:nth-child(2){
	font-size: 2em;
	margin-top: 200px;
}

.leftControls ul > li:hover{
	text-decoration: none;
	cursor:pointer;
	background-color: #ffffff;
}

.leftControls ul > li >span{
	font-size: 2rem;
	color:#b01e00;
	opacity: 0;
}

.workstationPanel{
	min-height: 1000px;
	margin-left: 5%;
	font-size: 10px;
	color:#b01e00;
	margin-bottom: 80px;
	position: relative;
	width: 100%;
	margin-top: 40px;
}

.continueLearning{
	background-color: #ffffff;
	padding: 0;
	position: relative;
	box-shadow: 2px 2px 2px #ccc;
	border: none;
}

.continueLearning .cLImg{
	width:70%;
	float: left;

}

.continueLearning .cLImg img{
	width: 100%;
}

.continueLearning .cLInfo{
	width: 30%;
	padding:1%;
	padding-top:5%;
	padding-bottom: 0; 
	float: left;
	position: relative;
}

.continueLearning .cLInfo p{
	text-align: center;
	margin-bottom: 10%;
}

.continueLearning .cLInfo p:nth-child(1){
	font-size: 4em;
}

.continueLearning .cLInfo p:nth-child(2){
	font-size:2em;
	font-weight: 700; 
	margin-bottom: 5%;
}

.continueLearning .cLInfo p:nth-child(3){
	font-size:2em;
}

.continueLearning div.continueButton{
	position: absolute;
	width: 30%;
	top:70%;
	right: 0;
	text-align: center;
}

.continueLearning div.continueButton a{
	font-size: 4em;
}

.workstationPanel .panelTitle{
	position: absolute;
	font-size: 5em;
	top:0;
	left: 0;
	padding:1%;
	padding-left: 4%;
	color:white;
	width: 70%;
	z-index: 1000;
}

.continueLearning div.continueCTitle{
	position: absolute;
	font-size: 4em;
	bottom:0;
	left: 0;
	padding: 3%;
	width:70%;
	background-color: rgba(255, 255, 255, 0.6);
}

.continueLearning div.progressBar{
	width:40%;
	height: 0.8em;
	background-color:#b01e00; 
	position: absolute;
	left: 0;
	bottom:0;
}

.button.button-large.button-flat-flame{
	background: #b01e00;
	border-radius: 5px;
	border: none;
	border-bottom: 3px solid #761703;
	color: #ffffff;
	width: 80%;
	box-shadow: none;
	padding: 2%;
	height: auto;
}

.button.button-large.button-flat-flame:hover{
	background: rgb(231, 43, 4);
}

/*猜你喜欢面板*/
.whatULike{
	margin-top:2%;
	padding: 0;
	box-shadow: 2px 2px 2px #ccc;
	position: relative;
}

.whatULike  .carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width: 100%;
	border: none;
}

.whatULike .carousel-caption{
	background-color: rgba(255,255,255,0.6);
	min-height: 8em;
	position:absolute;
	width: 100%;
	bottom:0;
	left: 0;
	padding: 0;
	color: #656464;
	text-shadow: none;
	overflow: hidden;
	text-overflow:ellipsis; 

}

.whatULike .carousel-caption .wULCTitle{
	width: 20%;
	font-size: 5em;
	padding-top: 2%;
	float: left;
}

.whatULike .carousel-caption .wULCIntro{
	width: 80%;
	font-size: 2em;
	padding: 1em;
	float: left;
}

.whatULike .carousel-control {
	background: none;
	opacity: 0.7;
	font-size: 2em;
	text-shadow:none;
}

.whatULike .carousel-control:hover{
	opacity: 1;
}
.liveOther{
	margin-top:2%;
	padding-left:0px;
	padding-bottom: 0px;
	min-height:400px;
	background-color: #ffffff;
	margin-bottom:2%;
	box-shadow: 2px 2px 2px #ccc;

}

/*直播轴*/
.liveLine{
	border-right: 2px dashed #656464;
	border-left:0.5em solid #b01e00; 
	padding: 0;
	font-size: 1em;
}



.liveLine .panelTitle{
	color:rgb(190, 187, 187);
	margin-left: 20px;
}

.liveLine > .liveItem{
	padding: 2%;
	position: relative;
	display: block;
	float: left;
	margin-bottom: 15%;
}
.liveLine > .liveItem:nth-child(2){
	margin-top: 25%;
}

.liveLine > .liveItem .liveTitle{
	background-color: rgb(238, 238, 238);
	color:#656464;
	padding: 10px;
	font-size: 2.5em;
	border-radius: 5px;
	margin-left: 20px;
}

.liveLine > .liveItem.active .liveTitle{
	background-color: #b01e00;
	color:#ffffff;
}

/*The pot*/
.liveLine > .liveItem .liveTitle:before{
	content:"";
	width:30px;
	height: 30px;
	background-color: #ffffff;
	border:5px solid #b01e00;
	border-radius: 50%;
	position: absolute;
	left:-20px;
}

/*The triangle*/
.liveLine > .liveItem .liveTitle:after{
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 20px 10px 0px;
	border-color: transparent rgb(238,238,238) transparent   transparent ;
	position: absolute;
	left: 10px;
	top: 50%;
}

.liveLine > .liveItem.active .liveTitle:after{
	border-color: transparent #b01e00 transparent   transparent ;

}

.liveLine > .liveItem .liveTime{
	font-size: 2em;
	margin-left: 15px;
	color:#656464;
}
.liveLine > .liveItem.active .liveTime{
	color:#b01e00;
	font-weight: 700;
}

.liveLine > .liveItem.active .liveTime span{
	position: absolute;
	right: 10px;
}

.otherPanel{
	font-size: 1em;
}

.otherPanel .row{
	text-align: center;
	margin-top: 5em;
}

.otherPanel .panelTitle{
	color:rgb(190, 187, 187);
}
.otherPanel  .controlBtn{
	color:rgb(150, 150, 150);
	display: block;
	padding-top:1.5em; 
	width: 5em;
	height: 5em;
	border: 2px solid rgb(219, 219, 219);
	border-radius: 50%;
	font-size: 5em;
	-webkit-transition-property: background,color;
	  -moz-transition-property: background,color;
	  -o-transition-property: background,color;
	  transition-property: background,color;
	  -webkit-transition-duration: 0.2s;
	  -moz-transition-duration: 0.2s;
	  -o-transition-duration: 0.2s;
	  transition-duration: 0.2s;
}

.otherPanel  .controlBtn:hover{
	color:#ffffff;
	background-color: #b01e00;
}


.rightControls{
	position: fixed;
	bottom: 20px;
	right: 0;
}

.rightControls > ul{
	list-style: none;
}

.rightControls > ul >li{
	display: block;
	width: 5em;
	height: 5em;
	border-radius: 50%;
	border:2px solid rgb(150,150,150);
	text-align: center;
	margin-top: 10px;
	color:rgb(150,150,150);

}

.rightControls > ul >li:hover{
	background-color: #ffffff;
}

.rightControls > ul >li >a{
	font-size: 3em;	
	color:inherit;
}
/*向上滚动*/
.toTop{
	display: none;
}


@media  screen and (max-width: 1366px) {
	.rlBar.leftBar{
		height:550px;
	}

	.rlBar.leftBar .barItem{
		margin-top: 25px;
	}

	.conPanel{
		height: 550px;
	}

	.workstationPanel{
		font-size: 7px;
	}

}

/*
*   plaza.css --> plaza.html
* 
*/

.plazaPanel{
	background-color:#ffffff;
	padding-left:0px;
	padding-right:0px;
}
.plazaPanel-center{
	margin-left:20px;
	margin-right:20px;
	min-width:800px;
}
.naviBox{
	text-align:center;
	padding:30px 0px 20px 0px;
	height:80px;
}
.naviBox-sm{
	padding:10px 0px 10px 0px;
	height:40px;
}
.naviBox-bg{
	padding:40px 0px 30px 0px;
	height:110px;
}
.naviBox img{
	margin:5px;
}
.naviBox.active{
	background-color:#cbcbcb;
}
.naviHead{
	color:#656464;
	margin:20px;
	font-size:15px;
	font-weight:700;
}
.naviTitle{
	color:#656464;
	margin:20px;
	font-size:18px;
	font-weight:700;
}
.naviContent{
	color:#ffffff;
	margin:20px;
	font-size:15px;
}
.naviContent.naviContent-sm{
	font-size:12px;
}
.naviMenuIconPanel{
	position:absolute;
	top:0px;
	left:0px;
	width:30%;
	height:480px;
	background-color:#ffffff;
}

.naviMenuContentPanel{
	position:absolute;
	top:0px;
	right:0px;
	width:70%;
	height:480px;
	background-color:#cbcbcb;
}
/*mid-col show course*/
.courseBox{
	text-align:center;
	margin:20px;
	box-shadow:2px 2px 2px 2px #ccc;
}
.courseBox img{
	width:100%;
}
.courseBox p{
	margin:20px 0 5px 0;
}
.courseBox p.title{
	color:#656464;
	font-weight:700;
	font-size:18px;
}
.courseBox p.content{
	color:#cbcbcb;
	font-size:14px;
}
