
.rightControls{
	position: fixed;
	bottom: 20px;
	right: 10px;
	padding: 0;
}

.rightControls > ul{
	list-style: none;
} 

.rightControls > ul >li{
	display: block;
	width: 5em;
	height: 5em;
	border-radius: 50%;
	border:2px solid rgb(150,150,150);
	text-align: center;
	margin-top: 10px;
	color:rgb(150,150,150);
}

.rightControls > ul >li:hover{
	background-color: #ffffff;
}

.rightControls > ul >li >a{
	font-size: 3em;	
	color:inherit;
}
/*向上滚动*/
.rightControls > ul >li.toTop{
	display: none;
}

.whiteRec{
	background-color: #ffffff;
	color:#656464;
	margin-top: 20px;
	box-shadow: 2px 2px 2px #ccc;
}

.courseProfile{
	padding-bottom:0px;
	margin-bottom: 10px;
	font-size: 1rem;
	
}

.courseProfile .breadcrumb.courseBC{
	margin-left: 0;
}
.courseProfile .profileMain{
	padding-bottom: 20px;
	border-bottom: 2px dashed #656464;
}
.courseProfile .profileImg{
	padding:0;
}

.courseProfile .profileImg img{
	width: 100%;
}

.courseProfile .profileInfo{
	padding-left:1%;
	padding-right: 1%; 
}



.courseProfile .profileInfo .courseName{
	text-align: center;
	font-size: 3em;
	color:#b01e00;
}
.courseProfile .profileInfo .courseCon{
	margin-top: 2%;
	font-size: 1.5em;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	word-break: break-all; word-wrap:break-word ;
}

.dashedRec{
	border:1px dashed #ccc;
}

.courseProfile .profileBase{
	text-align: center;/*
	top: 40%;
	position: absolute;
	bottom: 20px;*/
	right: 0;
	padding: 0;

}

.courseProfile .profileBase .cPrice,.cMembers,.cStars{
	text-align: center;
	width: 30%;
	padding: 8%;
	margin-bottom: 2%;
	float: left;
	margin-left: 3%;
	font-size: 2.5em;
	padding: 0;
	box-shadow: none;
	border-radius: 5px;
	padding: 2%;
}

.courseProfile .profileBase .courseDate{
	font-size:1.5em;;
}

.courseProfile  .profileBase p.title{
	font-size: 0.5em;
	color:;
}

.courseProfile .profileBase p.content{
	color:#b01e00;
	font-weight: 700;
}

.courseProfile .profileDetail{
	padding-top:1%;
}

.courseProfile .profileDetail .profileLPanel{
	margin-bottom: 20px;
	border-bottom: 2px dashed #656464;
}
.courseProfile .profileDetail .profileLPanel .navbarMin ul > li{
	font-size: 2em;
	width: 20%;
}

.courseProfile .profileDetail{/*
	padding-left:0;
	padding-right: 0;*/
}
.courseProfile .profileDetail .profileRPanel{
	/*min-height: 400px;*/

}

.courseProfile .profileDetail .profileRPanel .profileTeacher {
	padding: 2% 2% 8% 2%;
	border-bottom: 2px dashed #ffffff;
	border-right: 2px solid #656464;
}

.courseProfile .profileDetail .profileRPanel .profileTeacher .title{
	font-size: 2em;
	text-align: center;
}

.courseProfile .profileDetail .profileRPanel .profileTeacher .info .headPic{
	width: 100%;
}

.courseProfile .profileDetail .profileRPanel .profileTeacher .info p{
    font-size: 2em;
    margin-top: 10%;
    word-break:break-all;
    word-wrap:break-word ;
}
.courseProfile .profileDetail .profileRPanel .profileTeacher .info p a{
    color: #656464;
}
.courseProfile .profileDetail .profileRPanel .profileTeacher .info p a:hover{
    color: #948D8D;
}

.courseProfile .profileDetail .profileRPanel .profileComments{
	padding: 2% 2% 8% 2%;
}

.courseProfile .profileDetail .profileRPanel .profileComments .inputComm{
	height: 8em;

}
.courseProfile .profileDetail .profileRPanel .profileComments .inputComm textarea{
	width: 75%;
	height: 100%;
	float: left;
	resize:none;
	font-size: 2em;
}
.courseProfile .profileDetail .profileRPanel .profileComments .inputComm a{
	width: 25%;
	height: 100%;
	font-size: 2.5em;
	line-height: 2.5em;
	float: left;
	border-radius: 0px;
	border-bottom: none;
}

.courseProfile .profileDetail .profileRPanel .profileComments .title{
	text-align: center;
	font-size: 2.5em;
}

.courseProfile .profileDetail .profileRPanel .profileComments .commList{
	width: 100%;
}

.courseProfile .profileDetail .profileRPanel .profileComments .commList ul{
	list-style: none;
	padding: 5px;
}

.courseProfile .profileDetail .profileRPanel .profileComments .commList ul li{
	margin-bottom: 5%;
}



.courseProfile .profileDetail .profileRPanel .profileComments .commList li .headPic{
	padding:0;
}

.courseProfile .profileDetail .profileRPanel .profileComments .commList li .headPic img{
	width: 100%;
}

.courseProfile .profileDetail .profileRPanel .profileComments .commList li .detail > p > span{
	font-size: 1.5em;
	font-weight: 700;
	display: inline-block;
	float: left;
}

.courseProfile .profileDetail .profileRPanel .profileComments .commList li .detail > p .name{
	width: 60%;
}

.courseProfile .profileDetail .profileRPanel .profileComments .commList li .detail > p .stars{
	color:#B01E00;
	width: 40%;
}

.courseProfile .profileDetail .profileRPanel .profileComments .commList li .detail .content{
	font-size: 1.8em;
}

.courseProfile .profileDetail .profileRPanel .profileComments .commList li .time{
	padding: 0;
	font-size: 1.5em;
	color: #ccc;
}

.courseRec{
	font-size: 1rem;
	margin-bottom: 20px;
	padding: 1%;
}

.courseRec .courseRecCard{
	position:relative;
	overflow: hidden;
            text-align: center;
            box-shadow: 5px 5px 5px rgb(230, 222, 222);
            padding: 0px;
            margin: 5px;
}

.courseRec .courseRecCard img{
	width: 100%;
}

.courseRec .courseRecCard img:hover{
}

.navCon{
	padding: 0;
	margin-top: 20px;
	position: relative;
}

.navCon .unitInfo{
	width: 100%;
	float: left;
	position: relative;
}

.navCon .unitInfo .unitTitle{
	width: 100%;
	margin: 0px 0px 10px 0px;
	padding: 10px 0px 10px 20px;
	font-size: 2.5em;
	background-color: #656464;
	color: white;
	position: relative;
	z-index: 2000;
}
/*The View*/
.view {
	border: none;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	background: #fff  center center;
 	height:300px; 
}
.view:hover div.info{
	display: none;
}
.view div.info{
	text-align: left;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255,0.6);
	width: 100%;
	padding: 20px;
	font-size: 2em;
	padding-bottom: 0;
	color:inherit;
	z-index: 500;
}
.view div.info p{
	display: inline-block;
}
.view div.info .title{
	width:60%;
}
.view div.info .members{
	text-align: right;
	width:40%;
}

.view .mask,.view .content {
	width: 100%;
	height: 500px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.view img {
	width: 100%;
	display: block;
	position: relative;

}
.view .mask h2 {
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 2.5em;
	padding: 10px;
	background: rgba(0, 0, 0, 0.8);
	margin: 20px 0 0 0;
}
.view .mask p {
	font-size: 2em;
	position: relative;
	color: #fff;
	padding: 10px 20px 5px;
	text-align: center;
}
.view .mask a.info {
	width: 100%;
	font-size: 20em;
	position: absolute;
	top:0;
	left: 0;
	color:rgba(231, 46, 46, 0.23);
	display: inline-block;
	text-decoration: none;
	border: none;
}
.view .mask a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}

.viewForCard img {
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}
.viewForCard .mask {
	background-color: rgba(255, 231, 179, 0.3);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}
.viewForCard .mask h2 {
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   color: #333;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.viewForCard .mask p {
   color: #333;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.viewForCard .mask a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.viewForCard:hover img {
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;


}


.viewForCard:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;

}
.viewForCard:hover .mask h2,.viewForCard:hover .mask p,.viewForCard:hover .mask a.info {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.breadcrumb.courseBC{
	background:none;
	margin-left: 0;
	margin-bottom: 0px;
	padding-left: 0px;
}

.breadcrumb.courseBC > li{
	font-size: 2rem;
}

.breadcrumb.courseBC > li + li:before{
	content:'>';
}

.breadcrumb.courseBC > li a{
	color:#777;
	cursor: pointer;
	text-decoration: none;
}



.button-flat-flame{
	background: #b01e00;
	border-radius: 5px;
	border: none;
	border-bottom: 3px solid #761703;
	color: #ffffff;
	width: 80%;
	box-shadow: none;
	padding: 2%;
	height: auto;
}

.button-flat-flame:hover{
	color:#ffffff;
	background: rgb(231, 43, 4);
}
/**********************************时间轴**************************************/
.timeLine{
	list-style: none;
	width: 100%;
	padding-top:10px;
	padding-bottom: 40px;
	padding-left: 0px;
}

/* The line */
.timeLine:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 5px;
	background: #ccc;
	left: 20%;
	/* margin-left: -10px; */
}

.timeLine > li{
	position: relative;
	margin-bottom: 17px;
	border-bottom:3px solid transparent;
}

.timeLine > li .tmtime{
	font-size: 2em;
	display: block;
	width: 20%;
	text-align: center;
	display: inline-block;
}

/* Right content */
.timeLine > li .tmlabel {
    /* margin: 0 0 15px 25%; */
    font-size: 2em;
    font-weight: 300;
    line-height: 1.4;
    width: 70%;
    text-align: center;
    display: inline-block;
}
.timeLine > li .tmlabel  a{
    color: #656464;
}
.timeLine > li .tmlabel  a:hover{
    color: #A28E8E;
}

/* The icons */
.timeLine > li .tmicon {
    width: 25px;
    height: 25px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #ccc;
    text-align: center;
    left: 18.5%;
    top: 0;
    /* margin: 5px 0 0 -52px; */
}
.timeLine > .item:hover{
	/*border-bottom:3px dashed #B01E00;*/
}

@media (min-width: 992px) { 
	.courseProfile .profileDetail .profileLPanel{
		border-bottom: 2px dashed #ffffff;
		border-right: 2px solid #656464;
	}
	.courseProfile .profileDetail .profileRPanel .profileTeacher {
		padding: 2% 2% 8% 2%;
		border-bottom: 2px dashed #656464;
		border-right: 2px solid #ffffff;
	}
}