renaissance_web_homepage:
    path:     /
    defaults: { _controller: RenaissanceWebBundle:Default:index }

login:
  path:    /login
  defaults:  { _controller:RenaissanceWebBundle:Login:index }

logout:
    path: /logout
    defaults:  { _controller:RenaissanceWebBundle:Default:logout }

register:
  path:    /register
  defaults:  { _controller:RenaissanceWebBundle:Register:index }

register_validate:
  path:    /register/validate
  defaults:  { _controller:RenaissanceWebBundle:Register:validate }
  methods: [POST]

register_reg_user:
  path:  /register/reg_user
  defaults:  { _controller:RenaissanceWebBundle:Register:regUser }
  methods:  [POST]

user_index:
    path:     /user/{user_id}
    defaults: { _controller: RenaissanceWebBundle:User:index }
    requirements:
      user_id:  \d+

course_index:
    path:     /course
    defaults: { _controller: RenaissanceWebBundle:Course:index }

course_show:
    path:     /course/{course_id}
    defaults: { _controller: RenaissanceWebBundle:Course:show }
    requirements:
        course_id:  \d+

course_lesson_show:
    path:     /course/{course_id}/chapter/{chapter_id}/lesson/{lesson_id}
    defaults: { _controller: RenaissanceWebBundle:Lesson:show }
    requirements:
        course_id:  \d+
        chaper_id:  \d+
        lesson_id:   \d+
test_admin:
    path:   /admin
    defaults:  { _controller: RenaissanceWebBundle:Default:admin }

get_more_courses:
    path: /course/get_more_courses
    defaults: { _controller:RenaissanceWebBundle:Course:showMore}
    methods: [GET]

test:
    path: /test
    defaults: {_controller:RenaissanceWebBundle:Default:test}

enroll_course:
    path: /enroll_course
    defaults: {_controller:RenaissanceWebBundle:Enroll:enroll}
    methods: [POST]