<!-- 关于本站 -->
<div id="aboutRect" class="row bigRect">
	<div class="col-xs-2 col-xs-offset-2">
		<p class="title">关于我们</p>
		<p class="content"><a href="/infocenter.html">关于我们</a></p>
		<p class="content"><a href="/infocenter.html">联系我们</a></p>
		<p class="content"><a href="/infocenter.html">关注我们</a></p>
		<p class="content"><a href="/infocenter.html">加入我们</a></p>
	</div>
	<div class="col-xs-2">
		<p class="title">网站地图</p>
		<p class="content"><a href="/course">全部课程</a></p>
		<p class="content"><a href="{{lmsUrl}}" target="_blank">学习中心</a></p>
		<p class="content"><a href="{{lmsUrl}}courses" target="_blank">我的课程</a></p>
		<p class="content"><a href="{{lmsUrl}}profile/settings" target="_blank">我的设置</a></p>
	</div>
	<div class="col-xs-2">
		<p class="title">帮助中心</p>
		<p class="content"><a href="/infocenter.html">常见问题</a></p>
		<p class="content"><a href="/infocenter.html">联系客服</a></p>
		<p class="content"><a href="/infocenter.html">用户协议</a></p>
		<p class="content"><a href="/infocenter.html">版权说明</a></p>
	</div>
	<div class="col-xs-2">
		<img class="title" src="{{asset('bundles/renaissanceweb/img/default/qrcode.png')}}">
	</div>
</div>