<!-- 关于本站 -->
<div id="aboutRect" class="row bigRect">
	<div class="col-xs-2 col-xs-offset-2">
		<p class="title">关于我们</p>
		<p class="content">关于我们</p>
		<p class="content">联系我们</p>
		<p class="content">关注我们</p>
		<p class="content">加入我们</p>
	</div>
	<div class="col-xs-2">
		<p class="title">网站地图</p>
		<p class="content">全部课程</p>
		<p class="content">考试中心</p>
		<p class="content">我的主页</p>
		<p class="content">我的设置</p>
	</div>
	<div class="col-xs-2">
		<p class="title">帮助中心</p>
		<p class="content">常见问题</p>
		<p class="content">联系客服</p>
		<p class="content">用户协议</p>
		<p class="content">版权说明</p>
	</div>
	<div class="col-xs-2">
		<img class="title" src="{{asset('bundles/renaissanceweb/img/二维码图片.png')}}">
	</div>
</div>