<div id="footer" class="row bigRect" style="background-color:#161616";>
	<div class="col-xs-12">
		<p>成都ABCDEFG网络科技有限公司版权所有</p>
		<p>公司地址：成都市武侯区XXXXXXX&nbsp;&nbsp;&nbsp;&nbsp;邮箱：ABCDEFG@abcdefg.com</p>
	</div>
</div>