{% set lmsUrl = LMSUrl() %}
{% set user = getUser() %}
<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
		{% include "RenaissanceWebBundle:Layout:stylesheets.html.twig" %}
		{% include "RenaissanceWebBundle:Layout:scripts.html.twig" %}
		{% block stylesheets %}
		{% endblock %}
	</head>
	<body>
		<div id="bodyWrapper">
			{% block navbar %}
			{% if no_navbar is defined%}
			{% else %}
				{% include "RenaissanceWebBundle:Layout:nav_normal.html.twig" %}
			{% endif %}
			{% endblock %}
			{% block content %}{% endblock %}
			{% if base_bar is defined %}
			{% include "RenaissanceWebBundle:Layout:base_bar.html.twig" %}
			{% endif %}
			{% if footer is defined %}
			{% include "RenaissanceWebBundle:Layout:footer.html.twig" %}
			{% endif %}
		</div>
	{% block scripts %}{% endblock %}
	</body>
</html>