<!doctype html>
<html>
<head> 

<meta charset="UTF-8">
<link rel="stylesheet" href="{{asset('bundles/renaissanceweb/css/ErrorPage.css')}}">
<title>500ERROR</title>

</head>
<body bgcolor="#FFFFFF">
                    <div class="logo">
                        <img src="{{asset('bundles/renaissanceweb/img/default/renaissanceLearningLogo.png')}}">
                    </div>
                    <div class="mainPic_500">
                        <img src="{{asset('bundles/renaissanceweb/img/default/500error.png')}}">
                    </div>
                        <div class="guide_500">
                            <p>请尝试 <a href="#">刷新</a>/<a href="#">返回上一页</a>/<a href="#">回到主页</a></p>
                        </div>
	</body>
</html>
