<!DOCTYPE html>
<head>
	<title>Learn Seajs</title>
	<script src="{{asset('assets/scripts/spm_modules/seajs/2.3.0/dist/sea.js')}}"></script>
	<script src="{{asset('assets/scripts/spm_modules/sea-config.js')}}"></script>
</head>
<body>

<script>
	seajs.use(['module.js'],function(module){
		module.run();	
	});
</script>
	<div id="div"> 
	</div>
</body>
</html>